<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button class="btn btn-navbar" data-toggle="collapse" data-target="#app-nav-top-bar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="dashboard.html" class="brand"><i class="icon-leaf">SPend Plans</i></a>
 
                        <ul class="nav pull-right">
                            <li>
                                <a href="login.html">Logout</a>
                            </li>
                            
                        </ul>
                   
                </div>
            </div>
        </div>

        <div id="body-container">
            <div id="body-content">
                
                    <div class="body-nav body-nav-horizontal body-nav-fixed">
                        <div class="container">
                            <ul>
                                <li>
                                    <a href="budget">
                                        <i class="icon-money icon-large"></i> Budget
                                    </a>
                                </li>
                                <li>
                                    <a href="personnel">
                                        <i class="icon-user icon-large"></i> Personnel
                                    </a>
                                </li>
                                <li>
                                    <a href="operations">
                                        <i class="icon-cogs icon-large"></i> Operations
                                    </a>
                                </li>
                                <li>
                                    <a href="tasks">
                                        <i class="icon-tasks icon-large"></i> Tasks
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="contracts">
                                        <i class="icon-calendar icon-large"></i> Contracts
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                
               
                    <div class="row">
                        <div class="span16">
                                <h3>Contracts
                                </h3>
                        </div>
                    </div>
               
        
    <section class="page container">
       
        

    </section>

    

            </div>
        </div>

        <div id="spinner" class="spinner" style="display:none;">
            Loading&hellip;
        </div>

        <footer class="application-footer">
            <div class="container">
                <p>SPendPlans admin: 301 888-8888/ spendPlans@someCompany</p>
                <div class="disclaimer">
                    <p>All right reserved.</p>
                    <p>Copyright © BigOrganization</p>
                </div>
            </div>
        </footer>
        
        <script type="text/javascript">
        $(function() {
            $('#sample-table').tablesorter();
            $('#datepicker').datepicker();
            $(".chosen").chosen();
        });
    